@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-black text-white relative font-sans h-screen overflow-x-hidden
    }
}

html {
    scroll-behavior: smooth;
}


.SocialLink {
    margin-top: 1.41rem;
}

.SocialLink a {
    margin-left: 1rem;
    padding: .5rem;
    font-size: 1.4rem;
    border-radius: 8px;
    transition: all ease .43s;
    background: rgb(210, 210, 210);
    color: rgb(0, 0, 0);
}

.SocialLink a:hover {
    background: #1a1a1a;
    color: white;
}


/* ------------------------ABOUT------------------------- */
.AboutContainer {
    margin-top: 4rem;
    width: 99vw;
    height: 117vh;
    justify-items: center;
    align-items: center;
    color: rgb(159, 164, 170);
}

.About {
    width: 60vw;
    height: 100%;
    padding: 4rem 0;
    line-height: 162%;
    letter-spacing: .1rem;
    font-family: "Poppins", sans-serif;
    font-size: 1.14rem;
    font-weight: 300;
}

.About h2 {
    color: white;
    font-size: 3rem;
    font-family: sans-serif;
    margin-bottom: 2rem;
}

.TechLogos {
    padding-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.TechLogos i {
    font-size: 1.7rem;
    padding-bottom: 1rem;
}

.TechCon {
    height: 8rem;
    width: 8rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #000000;
    background: linear-gradient(#888b81,#949a7e);
    transition: all ease .6s;
}

.TechCon:hover {
    transform: translateY(-1rem);
}

/* ---------------------------PROJECTS------------------------------ */
#Projects {
    margin: 0 10%;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

#Projects h1 {
    margin-bottom: 4rem;
    color: white;
    font-size: 3rem;
    font-family: sans-serif;

}

.Projects {
    font-size: 1rem;
    height: 290vh;
    width: 80vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.ProjectsLine {
    width: 4px;
    height: 100%;
    background: linear-gradient(rgb(158, 166, 171), rgb(76, 83, 86));
    border-radius: 2px;
}

.ProjectLeftCon,
.ProjectRightCon {
    width: 38vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.ProjectLeft {
    border: 1px solid black;
    width: 90%;
    height: 20rem;
    margin-top: 2rem;
    margin-bottom: 20rem;
}

.ProjectRight {
    width: 90%;
    height: 20rem;
    margin-top: 23rem;
}

.ProjectCard {
    width: 100%;
    height: 100%;
    padding: 1rem;
    background: linear-gradient(#81827f, rgb(151, 157, 133));
    transition: all ease .5s;

}

.ProjectCard span {
    font-size: 1.8rem;
    font-family: poppins;
    padding: 5px 8px 2px 8px;
    border-radius: 5px;
    color: rgb(112, 44, 74);
    transition: all ease .5s;

}

.ProjectCard p {
    color: #000000;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: .85rem;
    padding-top: .3rem;
}

.ProjectCard div {
    margin-top: 1rem;
    font-size: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.ProjectCard div i {
    height: 3rem;
    width: 3rem;
    color: #aaaca6;
    background: #1a1a1a;
    padding-top: .5rem;
    transition: all ease .4s;
}

.ProjectCard span:hover {
    background: #aaaca6;
}

.ProjectCard div i:hover {
    color: #000000;
    background: none;
}

.ProjectCard:hover {
    transform: translateY(-1rem);
}


/* -----------------------------------MEDIA(MOBILE RESPONSIVE)---------------------- */
@media (max-width: 440px) {
    .MERN {
        left: -.78rem;
    }

    .SocialLink a {
        margin-left: 2rem;
    }

    .Projects {
        margin-right: .2rem;
        margin-left: 2rem;
    }

    .About {
        width: 95vw;
        text-align: center;
        font-size: 1rem;
    }

    .About h2,
    h3 {
        font-size: 2rem;
    }

    .TechLogos {
        gap: 1rem;
    }

    .TechCon i {
        font-size: 1rem;
        padding-bottom: .32rem;
    }

    .TechCon {
        height: 5rem;
        font-size: .7rem;
        width: 5rem;
    }


}